# nboard configuration file.

[general]
# Most people will need to adjust these for their environment.
objectcache: /usr/local/nagios/var/objects.cache
statusfile:  /usr/local/nagios/var/status.dat
commandfile: /usr/local/nagios/var/rw/nagios.cmd

# If you want to display only certain groups, or you wish for them to be 
# displayed in a particular order, uncomment this line.
#
# If left blank or missing every nagios hostgroup will be displayed except
# for those which start with "check_". This allows you to define groups used
# to apply service checks and have them filtered out by nboard.
#grouporder: critical, web

# Some configuration defaults
defaultgroup: critical

# If you wish to display graphs, see the README.graphs file.
graphs:	       	  false
showHostGraphs:   false
hostGraphBaseUrl: http://%s.example.com/rrd/%s/%s.rrd

# 24x24 icons work well here. You can use larger icons by adjusting the 
# index.html frame spacing.
#
# If a group doesn't have an icon specified here it will get a generic
# icon.
[icons]
web: images/website.png
critical: images/nboard_24.png

# If you wish to send SMS messages using clickatel modify this section.
# See <http://github.com/zwhite/nboard/wikis/notifications> for more info.
[clickatell_sms]
user: clickatel_username
password: clickatel_password
api_id: 1111111
