# nboard configuration file.

[general]
# Most people will need to adjust these for their environment.
objectcache: /usr/local/nagios/var/objects.cache
statusfile:  /usr/local/nagios/var/status.dat
commandfile: /usr/local/nagios/var/rw/nagios.cmd

# The groups you want displayed, and in which order
grouporder: critical, web

# Some configuration defaults
defaultgroup: critical

# If you wish to display graphs, see the README.graphs file.
showHostGraphs:   false
hostGraphBaseUrl: http://%s.example.com/rrd/%s/%s.rrd

# 24x24 icons work well here. You can use larger icons by adjusting the 
# index.html frame spacing.
[icons]
web: images/website.png
critical: images/nboard_24.png
